In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from random import randint

In [3]:
df = pd.read_csv("data.csv")
df.head()

,StockName,1/28/2011,4/29/2011,5/20/2011,4/1/2011,5/27/2011,6/17/2011,4/15/2011,2/18/2011,3/18/2011,...,1/14/2011,4/8/2011,4/21/2011,3/4/2011,3/25/2011,2/4/2011,1/7/2011,2/25/2011,5/13/2011,1/21/2011
0,American Express,-4.755700,4.00509,3.581550,-0.395257,0.768624,1.125940,-0.237274,-1.917280,0.706794,...,4.63801,1.468980,2.74809,-0.022868,1.877090,-0.70247,2.448040,-3.137520,-1.138630,-0.065175
1,Boeing,-3.201900,5.65488,-1.449280,0.693878,0.574788,1.505610,-1.425660,0.467675,-2.908530,...,0.93633,0.122649,3.74037,-0.924520,4.339170,3.06093,4.882840,-0.069109,-0.353045,1.157210
2,Chevron,-0.553840,1.92791,0.529256,1.804510,2.056760,-0.869652,-3.189360,3.371730,3.670840,...,2.06707,1.050500,3.03001,1.437230,2.811480,3.47363,-0.512765,2.892270,-0.832930,0.903809
3,Cisco Systems,0.431862,3.48494,-1.724140,-1.843320,0.304692,-1.122850,-3.839640,0.053079,-3.761930,...,1.28940,3.762490,0.35545,-1.181530,-0.346021,5.35117,2.542790,-0.480513,-3.707930,-2.356270
4,DuPont,3.819160,1.97522,0.000000,1.995930,1.565220,-0.919448,-1.009920,2.828800,-0.357277,...,3.10559,-0.180180,3.00295,-0.645518,0.557621,4.74576,-0.579421,-1.601460,-3.694940,-2.382390

In [4]:
df_names = df["StockName"]
del df["StockName"]

In [5]:
row = []
for i in range(df.shape[0]):
    row.append(np.array(df.iloc[i]))

In [6]:
k = 8

In [11]:
def eu_distance(a, b):
    return np.sqrt(((a - b)**2).sum()) 

def compute_clusters(data, centroids, clusters, c_number, data_shape):
    for i in range(data_shape[0]):
        dist = np.array([])
        for j in range(c_number):
            dist = np.append(dist, eu_distance(data[i], centroids[j]))
        clusters[np.argmin(dist)].append(i)
    return clusters

def overweight(data, clusters, centroids, data_shape):
    for i in range(len(clusters)):
        if (len(clusters[i]) > 0):
            a = np.zeros(data_shape[1])
            for j in range(len(clusters[i])):
                a += data[clusters[i][j]]
            a /= len(clusters[i])
            centroids[i] = a
    return centroids
            
def k_means(data, c_number, data_shape, iterations):
    clusters = []
    centroids = []
    counter = 0
    taken = []
    while counter < c_number:
        val = randint(0, data_shape[0] - 1)
        if (val not in taken):
            taken.append(val)
            centroids.append(data[val])
            counter += 1
    for it in range(iterations):
        clusters = [[ ] for i in range(c_number)]
        clusters = compute_clusters(data, centroids, clusters, c_number, data_shape)
        centroids = overweight(data, clusters, centroids, data_shape)
    sse = np.array([])
    for i in range(c_number):        
        for j in range(len(clusters[i])):
            sse = np.append(sse, eu_distance(data[clusters[i][j]], centroids[i]))
    print(sse.sum())
    return clusters

it is assumed that as the number of iterations increases, sse will decrease.

In [12]:
k_means(row, k, df.shape, 100)

224.01211487766415

[[1, 9, 12, 15, 16, 22, 28, 29],
 [0, 13, 19, 20, 26],
 [3, 21],
 [4, 6, 14],
 [2, 23],
 [7, 24, 25],
 [8, 10, 11, 17, 18],
 [5, 27]]

In [13]:
k_means(row, k, df.shape, 200)

218.09225007297755

[[15],
 [0],
 [3],
 [9, 10, 11, 16, 18, 22, 24, 25, 28],
 [5, 13, 17, 20, 29],
 [1, 12, 23],
 [7, 19, 26, 27],
 [2, 4, 6, 8, 14, 21]]

In [15]:
k_means(row, k, df.shape, 300)

205.7970875684581

[[16],
 [6, 14],
 [4],
 [0, 1, 9, 12, 15, 18, 22, 24, 25, 28, 29],
 [2, 3, 21, 23],
 [5, 8, 10, 11, 13, 17, 19, 26, 27],
 [7],
 [20]]

In [17]:
k_means(row, k, df.shape, 1000)

211.30210352690221

[[14],
 [11],
 [4, 6],
 [3, 7, 9],
 [5, 8, 10, 13, 17, 18, 19, 21, 26, 27, 28],
 [16],
 [0, 1, 12, 20, 29],
 [2, 15, 22, 23, 24, 25]]

On average, this is what happens, but sse also largely depends on the initially selected contours, which are chosen randomly

In [18]:
df_names

0        American Express
1                  Boeing
2                 Chevron
3           Cisco Systems
4                  DuPont
5                   Kraft
6             Caterpillar
7         Bank of America
8                 Verizon
9               Microsoft
10                    IBM
11         The Home Depot
12            Walt Disney
13       Procter & Gamble
14                  Alcoa
15                  Intel
16        Hewlett-Packard
17               Wal-Mart
18       General Electric
19                   AT&T
20                  Merck
21                 Pfizer
22    United Technologies
23             ExxonMobil
24              Travelers
25         JPMorgan Chase
26              McDonalds
27              Coca-Cola
28                     3M
29      Johnson & Johnson
Name: StockName, dtype: object

The algorithm identifies two explicit clusters in which the food industry and the computer and telecommunications sectors prevail, respectively